package main

import (
	_ "github.com/go-sql-driver/mysql"
    "github.com/ChisTrun/carbon/pkg/config"

	"{{ .Package }}/internal/server"
)

func main() {
	flags := config.ParseFlags()
	server.Run(flags)
}
